*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: rgba(70, 69, 69, 0.256);
    background-image: url(./wp3433639.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    min-height: 100vh;
    backdrop-filter: blur(10px);
    background-blend-mode: multiply;
    padding-top: 4rem;
}
i,svg{
    pointer-events: none;
}

.kick-pad,.snare-pad,.hihat-pad{
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.6rem 0.6rem;
    cursor: pointer;
}

.kick-pad{
    background:#f5ebe0;
}

.snare-pad{
    background: #90e0ef;
}

.hihat-pad{
    background:#d5b9b2;
}



.kick-pad.active{
    background:#e7bd91 ;
}

.snare-pad.active{
    background: #64dcf1;
}

.hihat-pad.active{
    background: #e29f8e;
}





.sequencer{
    margin:auto;
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.kick-track,.snare-track,.hihat-track{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    margin-top: 4rem;
}

.kick,.snare,.hihat{
    display: flex;
}

.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
}

.controls h3{
    background-color: rgba(0, 0, 0, 0.493);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.controls button{
    padding: 0.2rem;
    border: none;
    background: rgb(62, 61, 61);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pad{
    transition: all 0.3s ease;
}

.play{
    
    padding: 0.8rem;
    font-size: 1rem;
    background:rgb(62, 61, 61) ;
    color: white;
    border: none;
    cursor: pointer;
}

select{
    padding: 0.7rem;
    font-size: 0.7rem;
    margin-left: 1rem ;
}

.play-btn{
    display: flex;
    gap: 3rem;
    margin: 3rem;
}
.tempo{
    margin:1rem;
    width: 30%;
}
.tempo-slider{
    padding:0.2rem;
    -webkit-appearance: none ;
    margin: none;
    width: 100%;
    position: relative;
    background-color: rgb(80 , 80, 80);
    cursor: pointer;
    border-radius: 1rem;
}
.tempo p{
    font-size: 1rem;
    margin: 0.1rem;
    text-align: center;
}

.mute.active{
    background-color: rgba(158, 162, 162, 0.693);
}



@keyframes playTrack {
    from{
        transform: scale(1);
    }to{
        transform: scale(1.2);
    }
}